/*============ REFERENCES =============*/

@import 'mixins'

/** Colors **/

$white: #FFFFFF
$black: #000000
$font_color: #42443c
$grey: #cfcfcf
$green: #29d87d

$lineHeight: 8px
$lineSpace: 14px
$offsetY: $lineHeight + $lineSpace
$shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3)
$duration: 0.6s

/** Fonts **/

@font-face
  font-family: 'Roboto-Regular'
  src: url('../fonts/Roboto-Regular.ttf')
  font-weight: normal
  font-style: normal

$f_Roboto-Regular: 'Roboto-Regular', 'Arial', sans-serif

*
  box-sizing: border-box

body
  margin: 0

.mebel__container
  @include media(1024px)
    max-width: 1024px
    margin: 0 auto
  @include media(1200px)
    max-width: 1200px
    margin: 0 auto
  @include media(1440px)
    max-width: 1440px
    margin: 0 auto

.mebel__top-menu
  padding: 5px
  display: flex
  justify-content: space-between
  color: $font_color
  background: #fbf0c5

.top-menu__contacts
  padding: 0 20px
  display: flex
  align-items: center
  @include media(1024px)
    width: 60%
    justify-content: center

.top-menu__phone
  text-decoration: none
  color: $font_color
  font-weight: 800
  font-family: $f_Roboto-Regular

.top-menu__city
  display: none
  @include media(768px)
    margin: 0 40px 0 20px
    @include font(20px, 30px)
    color: $font_color
    display: block
    font-weight: 600
    font-family: $f_Roboto-Regular
  @include media(1024px)
    position: relative
    &:before
      @include pseudo(24px, 24px)
      left: -30px
      top: 3px
      background: url("../img/geo.png") center no-repeat
      background-size: contain



.top-menu__action
  display: flex
  color: $font_color

.top-menu__account
  display: flex
  align-items: center
  text-decoration: none
  i
    width: 20px
    height: 20px
    background: url("../img/account-icon.png") center no-repeat
    background-size: cover
  p
    display: none
    margin: 0
    font-family: $f_Roboto-Regular
    color: $font-color
    @include media(1024px)
      display: block
      margin: 0 0 0 10px
      font-weight: 600

.top-menu__login
  margin: 0 20px
  display: flex
  align-items: center
  text-decoration: none
  i
    width: 20px
    height: 20px
    background: url("../img/account-logout.png") center no-repeat
    background-size: cover
  p
    display: none
    margin: 0
    font-family: $f_Roboto-Regular
    color: $font-color
    @include media(1024px)
      display: block
      margin: 0 0 0 10px
      font-weight: 600

.mebel__mibble-menu
  @include media(1024px)
    display: flex
    align-items: center
    border-bottom: 1px solid $grey

.mebel__logo
  @include media(1024px)
    width: 30%

.logo-img
  padding: 20px 50px
  width: 100%
  @include media(425px)
    width: 70%
    display: block
    margin: 0 auto
  @include media(768px)
    width: 50%
  @include media(1024px)
    width: 100%

.mebel__wrapper
  @include media(500px)
    max-width: 500px
    margin: 0 auto
  @include media(768px)
    display: flex
    align-items: center
    justify-content: center
    max-width: 100%

.mebel__search-form
  position: relative
  padding: 0 20px
  @include media(768px)
    width: 320px
  @include media(1024px)
    position: relative
    &:before
      @include pseudo(26px, 26px)
      top: 6px
      left: 30px
      background: url("../img/search-icon.png") center no-repeat
      background-size: contain

.search-form__input
  padding: 10px
  width: 100%
  border-radius: 20px
  outline: none
  border: 2px solid $grey

.search-form__btn
  display: none

.search__label
  padding: 5px
  position: absolute
  top: 6px
  right: 26px
  display: block
  width: 26px
  height: 26px
  border: 2px solid $grey
  border-radius: 50%
  &:after
    @include pseudo(18px, 18px)
    top: 2px
    left: 2px
    background: url("../img/arrow.svg") center no-repeat
    background-size: inherit

.mebel__favorite
  display: flex
  align-items: center

.favorite__text
  display: none
  @include media(1200px)
    display: block
    margin: 0 10px 0 0
    @include font(25px, 31px)
    font-family: $f_Roboto-Regular


.mebel__buy-wrapper
  position: relative
  padding: 20px
  display: flex

.favorite__num
  display: block
  padding: 10px
  margin: 0 20px 0 0
  border: 4px solid $green
  border-radius: 50%
  color: $white
  font-family: $f_Roboto-Regular
  @include font(14px, 15px)
  background: url("../img/heart.svg") center no-repeat
  background-size: 25px 30px

.mebel__light-cart
  position: relative
  padding: 7px 10px 7px 30px
  border: 4px solid $green
  border-radius: 20px
  font-family: $f_Roboto-Regular
  @include media(1200px)
    padding: 7px 34px 7px 47px
    border-radius: 40px
  &:after
    @include pseudo(20px, 20px)
    left: 5px
    top: 11px
    background: url("../img/bag.png") center no-repeat
    background-size: contain
    @include media(1200px)
      left: 14px
      top: 17px
.light-cart__quantity
  position: absolute
  left: 8px
  top: -2px
  color: $white
  display: block
  width: 15px
  text-align: center
  height: 15px
  border-radius: 50%
  background: #f3766e
  @include media(1200px)
    left: 16px
    top: 5px

.light-cart__money
  font-weight: 800


.light-cart__total
  @include font(12px, 16px)
  @include media(1200px)
    @include font(20px, 31px)

.mebel__nav-list
  width: 100%
  list-style: none
  padding: 0 20px
  height: 0
  overflow: hidden
  transition: .3s ease-in-out
  opacity: 0
  @include media(1024px)
    max-width: 1024px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    overflow: visible
    height: auto
    opacity: 1
  @include media(1440px)
    max-width: 1500px

.mebel__nav-list_active
  overflow: visible
  height: 100%
  opacity: 1
  transition: all .3s ease-in-out

.nav-list__catalog
  margin: 0 auto
  padding: 5px 10px
  font-family: $f_Roboto-Regular
  text-decoration: none
  background: $green
  color: $white
  border-radius: 20px
  @include media(1200px)
    @include font(29px, 25px)

.catalog
  @include media(1024px)
    margin: 0 !important

.nav-list__item
  margin: 15px 0 10px 0
  padding: 4px 0px
  border-bottom: 2px solid $green
  @include media(1024px)
    margin: 10px 15px
    border: none


  &:first-child
    margin: 0 0 30px 0
    border-bottom: none

.nav-list__link
  padding: 2px 10px
  text-decoration: none
  font-family: $f_Roboto-Regular
  @include font(16px, 16px)
  color: $font_color
  font-weight: 600
  position: relative
  @include media(1024px)
    padding: 0
    margin: 2px 10px
    &:after
      @include pseudo(0%, 8px)
      left: 0
      top: 16px
      background: $green
      transition: .3s ease
      @include media(1200px)
        top: 29px
    &:hover
      &:after
        @include pseudo(100%, 8px)
        left: 0
        top: 16px
        background: $green
        transition: .3s ease
        @include media(1200px)
          top: 29px
  @include media(1200px)
    @include font(29px, 36px)

.mebel__nav
  position: relative

.mebel__nav-toggle
  position: absolute
  top: 20px
  right: 4px
  background: none
  border: none
  outline: none
  @include media(768px)
    right: -60px
  @include media(1024px)
    display: none

  &:active
    outline: none

.mebel__banner
  display: none
  @include media(1024px)
    display: block

.banner-img
  width: 100%

.bars
  width: 40px
  cursor: pointer

.bars .line
  fill: none
  stroke: $green
  stroke-width: 4
  stroke-linecap: square
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms

.bars .line.top
  stroke-dasharray: 40 172

.bars .line.middle
  stroke-dasharray: 40 111

.bars .line.bottom
  stroke-dasharray: 40 172

.bars.active .top
  stroke-dashoffset: -132px

.bars.active .middle
  stroke-dashoffset: -71px

.bars.active .bottom
  stroke-dashoffset: -132px

.mebel360__wrapper
  padding: 0 20px

.mebel360__title
  @include font(20px, 27px)
  font-family: $f_Roboto-Regular
  @include media(1024px)
    margin: 60px 0 0 0

.mebel360__block
  @include media(1024px)
    display: flex
    justify-content: space-between

.mebel360__block-text
  @include media(1024px)
    width: 45%

.mebel360__body
  font-family: $f_Roboto-Regular

.instagram__wrapper
  padding: 0 20px

.instagram__title
  position: relative
  margin: 40px 0 40px 40px
  @include font(20px, 20px)
  font-family: $f_Roboto-Regular
  &:after
    @include pseudo(30px, 30px)
    top: 0
    left: -40px
    background: url("../img/inst.png") center no-repeat
    background-size: cover
    @include media(768px)
      top: -5px
.instagram__title-link
  font-family: $f_Roboto-Regular
  @include font(16px, 20px)
  color: #3ea7f0

.inst-slide__img
  width: 70%
  display: block
  margin: 0 auto
  border-radius: 15px

.inst-prev
  &:after
    content: ''
    color: #cfcfcf
    font-weight: 800

.inst-next
  &:after
    content: ''
    color: #cfcfcf
    font-weight: 800

.insragram__banner
  @include media(1024px)
    margin: 60px 0 0 0

.subscribe__wrapper
  @include media(1024px)
    display: flex
    align-items: center

.footer__subscribe
  padding: 10px 0 30px 0
  background: #f3766e
  @include media(1024px)
    padding: 0

.subscribe__list
  list-style: none
  @include media(768px)
    display: flex
    justify-content: center

.subscribe__list-item
  position: relative
  margin: 30px 0
  @include media(1024px)
    margin: 0
  &:before
    @include pseudo(30px, 30px)
    background: red
    top: -6px
    left: -10px
  &:nth-child(1)
    &:before
      background: url("../img/percent.png") center no-repeat
      background-size: contain
      @include media(1024px)
        top: -6px
        left: -20px
        width: 50px
        height: 50px
  &:nth-child(2)
    &:before
      background: url("../img/lightning.png") center no-repeat
      background-size: contain
      @include media(1024px)
        top: -17px
        left: -20px
        width: 50px
        height: 50px
  &:nth-child(3)
    &:before
      background: url("../img/like.png") center no-repeat
      background-size: contain
      @include media(1024px)
        width: 40px
        height: 40px

.subscribe__item-text
  margin: 0 40px
  color: $white
  font-family: $f_Roboto-Regular
  @include media(1024px)
    @include font(20px, 26px)

.subscribe__from
  position: relative
  @include media(768px)
    max-width: 400px
    margin: 0 auto
    position: relative
    &:hover
      &:after
        position: absolute
        display: block
        left: -20px
        top: 50px
        width: 250px
        height: 20px
        content: 'Нажимая кнопку «Подписаться» вы соглашаетесь с условиями использования сайта и политикой работки персональных данных.'
        font-size: 10px
        font-family: $f_Roboto-Regular

.subscribe__from-email
  width: 70%
  position: relative
  left: -25px
  display: block
  margin: 0 auto
  padding: 10px
  border: none
  border-radius: 20px
  @include media(1024px)
    width: 100%

.subscribe__from-btn
  padding: 10px 15px
  border-radius: 20px
  border: none
  top: 0
  right: 30px
  position: absolute
  background: $black
  color: $white
  font-family: $f_Roboto-Regular
  font-weight: 800
  @include media(1024px)
    right: -50px

.footer__nav
  background: $grey

.footer__nav-wrapper
  padding:  20px
  @include media(768px)
    margin: 0 0 50px 0
    display: flex
    flex-wrap: wrap
    justify-content: space-around
  @include media(1024px)
    margin: 0

.footer__nav-block
  @include media(768px)
    width: 40%
  @include media(1024px)
    width: 22%

.footer__header-title
  margin: 30px 0
  font-family: $f_Roboto-Regular
  @include media(1024px)
    height: 35px
  @include media(1200px)
    height: 50px
    @include font(25px, 32px)

.footer__nav-list
  list-style: none
  padding: 0

.footer__nav-item
  margin: 5px 0

.footer__nav-link
  text-decoration: none
  color: $font_color
  font-family: $f_Roboto-Regular
  @include media(1200px)
    @include font(25px, 32px)

.footer__nav-action
  @include media(1024px)
    display: flex
    align-items: center

.footer__action-phone
  max-width: 300px
  margin: 0 auto
  display: block
  position: relative
  font-family: $f_Roboto-Regular
  text-align: center
  @include font(20px, 26px)
  font-weight: 800
  @include media(1024px)
    @include font(30px, 36px)
  &:before
    @include pseudo(30px, 30px)
    top: -2px
    left: 30px
    background: url("../img/phone.png") center no-repeat
    @include media(1024px)
      left: -40px
      top: 4px

.footer__socials-wrapper
  @include media(1024px)
    display: flex
    align-items: center


.footer__socials-title
  margin: 30px 0 0 0
  font-family: $f_Roboto-Regular
  text-align: center
  @include font(18px, 24px)
  @include media(1024px)
    margin: 0 140px 0 0
    font-weight: 600
    @include font(22px, 30px)

.footer__action-socials
  list-style: none
  display: flex
  justify-content: center
  padding: 0
  @include media(1024px)
    margin: 0 40px 0 0

.footer__logo
  padding: 40px 0
  display: flex
  justify-content: center

.footer__bottom-wrapper
  @include media(1024px)
    display: flex
    align-items: center
    justify-content: space-between

.footer__bottom
  padding: 15px 10px 5px 10px
  background: #fbf0c5
  font-family: $f_Roboto-Regular
  text-align: center
  @include media(1024px)
    padding: 0px 30px

.footer__bottom-link
  text-decoration: none
  color: $font_color

.footer__bottom-text
  margin: 20px 0